name: Python CI

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: ubuntu-latest 

    steps:
 
    - uses: actions/checkout@v4


    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10' 
        cache: 'pip'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        # Install flake8 and pytest directly
        pip install flake8 pytest
        # Install all project libraries from the file we just created
        pip install -r requirements.txt

    - name: Lint with Flake8
      run: |
        flake8 .

    - name: Test with Pytest
      run: |
        pytest